body{
    background-color: #7EBFB3;
    margin: 0%;
}

.navbar{
    overflow: hidden;
    
}

.navbar a{
    float: right ;
    color: #4F7369;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transform: translateY(20px);
    transform: translateX(-400px);
}
.navbar h3{
    float: left;
    color: #4F7369;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    text-decoration: underline;
    font-family: cursive;
    font-size: larger;
    font-weight: bolder;
}
.navbar button{
    color: BLACK;
    background-color: #EBF2F1;
    border-radius: 100px;
    border-color: black;
    border-width:10m;
    font-size: larger;
   
}

.navbar a:hover {
    background-color: #194759;
    color: white;
}
  
.navbar a.active {
    background-color: #194759;
    color: white;
}
  
