body{
    background-color: #abd3c9;
    margin: 0%;
}

.navbar{
    overflow: hidden;
    background-color:#333;
}

.navbar a{
    float: right ;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transform: translateY(20px);
}
.navbar h3{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    text-decoration: underline;
    font-family: cursive;
    font-size: larger;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
  
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}
  
